#titulo_formulario {
    text-align: center;
    margin: 0;
    padding: 2rem 0;
    background-color: rgb(170, 91, 1);
    color: white;
}

form {
    width: 100%;
    padding: 3rem 0;
    text-align: center;
}

input {
    height: 2rem;
    width: 20rem;
    margin: 1rem 0 2rem 2rem;
    border-color: black;
    text-align: center;
    font-size: 1rem;
}

input:focus {
    background-color: rgb(252, 191, 167);
}

textarea {
    width: 20rem;
    height: 5rem;
    margin: 1rem 0 2rem 2rem;
    text-align: center;
    border-color: black;
    font-size: 1rem;
}

button {
    width: 10rem;
    height: 2rem;
    margin: 2rem 0 2rem 2rem;
    background-color: orange;
    color: white;
    border-style: none;
    border-radius: 2rem;
}


@media (max-width: 350px) {

    #titulo_formulario h1 {
        font-size: 1.8rem;
        padding: 1rem;
    }

    #titulo_formulario p {
        font-size: 0.9rem;
        padding: 0 1rem;
    }

    input {
        width: 15rem;
    }

    textarea {
        width: 15rem;
    }
}

@media (min-width: 400px) and (max-width:900px) {

     #titulo_formulario h1 {
        font-size: 1.5rem;
        padding: 1rem;
    }

    #titulo_formulario p {
        font-size: 0.9rem;
        padding: 0 1rem;
    }
}