body {
    width: 100%;
    text-align: center;
}

 #presentacion_encargos {
        background-color: rgb(185, 185, 185);
    }

    #presentacion_encargos h1 {
        text-align: center;
        font-size: 1.9rem;
        width: 100%;
        padding: 1rem;
    }

    #presentacion_encargos p {
        text-align: center;
        width: 100%;
        font-size: 1rem;
        padding: 1rem;
    }

    #productos {
        width: 100%;
        display: block;
    }

    #productos img {
        width: 30%;
        padding: 1rem;
    }

@media (max-width: 350px) {
   
    #presentacion_encargos h1 {
        font-size: 2rem;
    }

    #productos img {
        width: 70%;
        margin: 0 auto;
    }
}
