/* Codigo general para toda la web */

* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: black;
}

h1 {
    font-size: 46px;
    align-items: center;
}

/* Aquí termina todo el codigo general de la web */

/* Aquí comienza el header, este es el mismo para todas las URLS */

header {
    background: linear-gradient(rgb(170, 91, 1), rgb(255, 213, 124));
    color: white;
    height: 90px;
    display: flex;
    /* Con esto he podido centrar tanto vertical como horizontal */
    align-items: center; /* vertical */
    justify-content: center; /* horizontal */
}

nav img {
    object-fit: contain; /* Recordar: se usa para que el logo encaje en el contenedor y no sobresalga ni se deforme */
    height: 80px;
}

nav {
    width: 90%;
    max-width: 1920px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 30px;  /* Recordar: se usa para el espaciado entre elementos */
}

nav li a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

nav li a:hover{
    color: rgb(255, 255, 255);
    transition: color 0.5s ease;
}

/* Aqui termina el codigo del header */

footer {
    background-color: rgb(31, 29, 29);
    color: white;
    width: 100%;
    max-height: 10%;
    padding-top: 1%;
    padding-bottom: 1%;
    display: inline-block;
    justify-content: center;
    align-items: center;
}

a.politica {

    display: flex;
    justify-content: center;
    margin: 2rem 0;
    gap: 10px;
    text-decoration: none;
    color: white;
    transition: color 0.5s ease;
}

p.politica {
    width: 100%;
    font-size: 0.70em;
    text-align: center;
    padding-bottom: 1rem;
}

a.politica:hover {
    color: rgb(247, 247, 133);
}

/* Responsive */

/* Movil */

@media (max-width: 350px) {
    header {
        display: block;
        height: 25%;
        width: 100%;
        /* Con esto he podido centrar tanto vertical como horizontal */
        text-align: center;
        padding-bottom: 1rem;
    }

    nav img {
        width: 30%;
    }

    nav {
        width: 100%;
        display: block;
    }

    nav ul {
        display: block; 
    }
}

@media (min-width: 400px) and (max-width:900px) {
    header {
        height: 25%;
        width: 100%;
        /* Con esto he podido centrar tanto vertical como horizontal */
        text-align: center;
        padding-bottom: 1rem;
    }

    nav img {
        width: 30%;
        padding: 1rem;
    }

    nav {
        width: 100%;
    }

    nav ul {
        font-size: 0.7rem;
        padding-right: 1rem;
    }
}